<%= form_for(@question) do |form| %>
  <%= form.text_field :label %>
  <%= form.fields_for :responses do |response| %>
    <div>
      <%= response.label :label %>
      <%= response.text_field :label %>
    </div>
  <% end %>

  <%= form.submit 'Enregistrer' %>
<% end %>