<% content_for :body_class, "questions" %>

<h1>Liste des questions</h1>
<div class="actions">
  <%= link_to 'Nouvelle question', new_question_path, class: "action-new-question" %>
  <div class="clear"></div>
</div>
<table class="table-list" border="0" cellspacing="0" cellpadding="0">
  <thead>
  <tr>
    <th>ID</th>
    <th>Label</th>
    <th>Activé</th>
    <th colspan="2">Action</th>
  </tr>
  </thead>
  <% if @questions.any? %>
    <tbody>
    <% @questions.each do |question| %>

      <tr>
        <td><%= question.id %></td>
        <td><%= question.label %></td>
        <td><%= question.enabled ? "Oui" : "Non" %></td>
        <td class="td-action">
          <%= link_to 'Voir', question_path(question.id) %>
        </td>
        <td class="td-action">
          <%= link_to 'Editer', edit_question_path(question.id) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  <% else %>
    <tr>
      <td colspan="3">Il n'y a aucune question</td>
    </tr>
  <% end %>
</table>

