<% content_for :body_class, "questions" %>

<h1><%= @question.label %></h1>
<div class="actions">
  <%= link_to 'Retour', questions_path, class: "action-default" %>
  <%= link_to 'Supprimer', @question, method: :delete, class: "action-delete-question",
              data: {confirm: 'Êtes-vous sûr(e) de vouloir supprimer cette question ?'} %>

  <div class="clear"></div>
</div>
<table class="table-list" border="0" cellspacing="0" cellpadding="0">
  <thead>
  <tr>
    <th>Réponse</th>
    <th>Compteur</th>
  </tr>
  </thead>
  <% if @question.responses.any? %>
    <tbody>
    <% @question.responses.each do |response| %>
      <tr>
        <td><%= response.label %></td>
        <td><%= response.votes.count %></td>
      </tr>
    <% end %>
    </tbody>
  <% end %>
  <tr>
    <td>Total</td>
    <td><%= @totalVotes %></td>
  </tr>
</table>
<% unless @question.enabled %>
  <div class="enabled-waiting">
    Question en attente de modération, une validation est necessaire pour l'ajouter à l'application
    <%= form_for @question do |form| %>
      <%= form.hidden_field :enabled, :value => true %>
      <%= form.submit "Activer" %>
    <% end %>
  </div>
<% end %>

