<h1><%= @question.label %></h1>

<ul>
  <li><%= @question.response_one %></li>
  <li><%= @question.response_two %></li>
</ul>

<h2>Résultats</h2>
<table border="1">
  <tr>
    <td><%= @question.response_one %></td>
    <td></td>
  </tr>
  <tr>
    <td><%= @question.response_two %></td>
    <td></td>
  </tr>
  <tr>
    <td>Total</td>
    <td></td>
  </tr>
</table>

<%= link_to 'Supprimer', @question, method: :delete,
            data: {confirm: 'Êtes-vous sûr(e) de vouloir supprimer cette question ?'} %>
<%= link_to 'Retour', questions_path %>
