<div class="container">
  <div class="question">
    <%= @question.label %>
  </div>
  <div class="responses">
    <%= form_with(local: true, url: votes_path, method: 'put') do |form| %>
      <%= form.hidden_field :question_id, value: @question.id %>
      <%= form.hidden_field :response_id, value: 1 %>
      <%= form.submit @question.response_one %>
    <% end %>
    <%= form_with(local: true, url: votes_path, method: 'put') do |form| %>
      <%= form.hidden_field :question_id, value: @question.id %>
      <%= form.hidden_field :response_id, value: 2 %>
      <%= form.submit @question.response_two %>
    <% end %>
  </div>
</div>

<style>
  .container {
    width: 70%;
    margin: auto;
  }

  .question {
    width: 100%;
    line-height: 32px;
    text-align: center;
    background-color: bisque;
  }

  .responses {
    width: 100%;
    line-height: 250px;
    height: 250px;
    display: flex;
    background-color: cadetblue;
  }

  .responses form {
    width: 50%;
    text-align: center;
    cursor: pointer;
  }

  .responses form:first-child {
    border-right: 1px solid red;
  }
</style>