<% content_for :body_class, "home" %>

<div class="bg">
  <h1 class="head-title">Would You Rather</h1>

  <div class="questions-block">
    <div class="question">
      <h2 class="title">
        <%= @question.label %>
      </h2>
    </div>
    <div class="answers">
      <div class="answer-wrap">
        <%= form_with(model: @vote, url: votes_url + ".json", class: 'vote-form') do |form| %>
          <%= form.hidden_field :question_id, value: @question.id %>
          <%= form.hidden_field :response, value: @question.responses.first.id %>
          <div class="one answer">
            <div class="inner">
              <h3 class="text"><%= @question.responses.first.label %></h3>
              <button>Vote</button>
            </div>

            <div class="result">
              <h3 id="reponse1" class="percentage" data-value="70"></h3>
              <h3 class="desc"> Think that <span><%= @question.responses.first.label %></span></h3>
            </div>
          </div>
        <% end %>
      </div>
      <div class="answer-wrap">
        <%= form_with(model: @vote, url: votes_url + ".json", class: 'vote-form') do |form| %>
          <%= form.hidden_field :question_id, value: @question.id %>
          <%= form.hidden_field :response, value: @question.responses.last.id %>
          <div class="two answer">
            <div class="inner">
              <h3 class="text"><%= @question.responses.last.label %></h3>
              <button>Vote</button>
            </div>

            <div class="result">
              <h3 id="reponse2" class="percentage" data-value="70"></h3>
              <h3 class="desc"> Think that <span><%= @question.responses.last.label %></span></h3>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <button class="next" onclick="document.location.reload()">Next question</button>

  </div>
</div>
