<% content_for :body_class, "home" %>

<div class="bg">
  <h1 class="head-title">Would You Rather</h1>

  <div class="questions-block">
    <div class="question">
      <h2 class="title">
        <%= @question.label %>
      </h2>
    </div>
    <div class="answers">
      <div class="answer-wrap">
        <%= form_with(model: @vote, local: true, url: votes_url) do |form| %>
          <%= form.hidden_field :question_id, value: @question.id %>
          <%= form.hidden_field :response, value: 1 %>
          <div class="one answer">
            <div class="inner">
              <h3 class="text"><%= @question.response_one %></h3>
              <button>Vote</button>
            </div>

            <div class="result">
              <h3 class="percentage" data-value="70">70%</h3>
              <h3 class="desc"> Think that <span>Réponse n°1</span></h3>
            </div>
          </div>
        <% end %>
      </div>
      <div class="answer-wrap">
        <%= form_with(model: @vote, local: true, url: votes_url) do |form| %>
          <%= form.hidden_field :question_id, value: @question.id %>
          <%= form.hidden_field :response, value: 1 %>
          <div class="two answer">
            <div class="inner">
              <h3 class="text"><%= @question.response_two %></h3>
              <button>Vote</button>
            </div>

            <div class="result">
              <h3 class="percentage" data-value="70">70%</h3>
              <h3 class="desc"> Think that <span>Réponse n°1</span></h3>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    document.querySelector('.answer.one').addEventListener('ajax:success', function () {
        console.log('salut2');
    });
</script>